{
  "http_interactions": [
    {
      "recorded_at": "2014-09-22T12:05:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "$AUTH_HEADER$",
          "content-type": "application/json; charset=utf-8"
        },
        "method": "GET",
        "uri": "https://app.besnappy.com/api/v1/ticket/h3r6rybkmdyr2j4q/notes/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":471947,\"account_id\":3249,\"ticket_id\":268240,\"facebook_message\":null,\"created_by_staff_id\":null,\"created_by_contact_id\":119399,\"scope\":\"public\",\"created_at\":1411387506,\"updated_at\":\"2014-09-22 12:05:06\",\"content\":\"What are the experiment protocols for subject $SUBJECT_UUID$?\",\"system\":0,\"using_html\":0,\"raw_headers\":null,\"contacts\":[{\"id\":119399,\"account_id\":3249,\"first_name\":\"John\",\"last_name\":\"Smith\",\"value\":\"john.smith@gmail.com\",\"provider\":\"email\",\"created_at\":\"2014-09-18 10:27:27\",\"updated_at\":\"2014-09-18 10:27:27\",\"pivot\":{\"note_id\":471947,\"contact_id\":119399,\"type\":\"from\"},\"address\":\"john.smith@gmail.com\",\"type\":\"from\"}],\"staff_creator\":null,\"contact_creator\":{\"id\":119399,\"account_id\":3249,\"first_name\":\"John\",\"last_name\":\"Smith\",\"value\":\"john.smith@gmail.com\",\"provider\":\"email\",\"created_at\":\"2014-09-18 10:27:27\",\"updated_at\":\"2014-09-18 10:27:27\",\"address\":\"john.smith@gmail.com\"},\"attachments\":[],\"creator\":{\"id\":119399,\"account_id\":3249,\"first_name\":\"John\",\"last_name\":\"Smith\",\"value\":\"john.smith@gmail.com\",\"provider\":\"email\",\"created_at\":\"2014-09-18 10:27:27\",\"updated_at\":\"2014-09-18 10:27:27\",\"address\":\"john.smith@gmail.com\"}}]"
        },
        "headers": {
          "content-type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://app.besnappy.com/api/v1/ticket/h3r6rybkmdyr2j4q/notes/"
      }
    },
    {
      "recorded_at": "2014-09-22T12:06:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "$AUTH_HEADER$",
          "content-type": "application/json; charset=utf-8"
        },
        "method": "GET",
        "uri": "https://app.besnappy.com/api/v1/ticket/yvfdc8s9wuufuodc/notes/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":47[...]
    {
      "recorded_at": "2014-09-22T12:10:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "$AUTH_HEADER$",
          "content-type": "application/json; charset=utf-8"
        },
        "method": "GET",
        "uri": "https://app.besnappy.com/api/v1/ticket/xsbcit8sxugpwspx/notes/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":47[...]
    {
      "recorded_at": "2014-09-22T12:14:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "$AUTH_HEADER$",
          "content-type": "application/json; charset=utf-8"
        },
        "method": "GET",
        "uri": "https://app.besnappy.com/api/v1/ticket/6wa8udxtnjsbdmds/notes/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":47[...]
    {
      "recorded_at": "2014-09-22T12:19:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "$AUTH_HEADER$",
          "content-type": "application/json; charset=utf-8"
        },
        "method": "GET",
        "uri": "https://app.besnappy.com/api/v1/ticket/0ajbes8svbgzvocn/notes/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":47[...]
    {
      "recorded_at": "2014-09-22T12:29:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "$AUTH_HEADER$",
          "content-type": "application/json; charset=utf-8"
        },
        "method": "GET",
        "uri": "https://app.besnappy.com/api/v1/ticket/eahhbaxk1n48dqsd/notes/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":47[...]
    {
      "recorded_at": "2014-09-22T12:46:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\": \"mj0kzj4lnh7ho7cp\", \"mailbox_id\": 3642, \"from\": [{\"name\": \"John Smith\", \"address\": \"john.smith@gmail.com\"}], \"message\": \"Do we need more goop for $SUBJECT_UUID$?\", \"subject\": \"Test subject $SUBJECT_UUID$\"}"
        },
        "headers": {
          "Authorization": "$AUTH_HEADER$",
          "content-type": "application/json; charset=utf-8"
        },
        "method": "POST",
        "uri": "https://app.besnappy.com/api/v1/note"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "mj0kzj4lnh7ho7cp"
        },
        "headers": {
          "content-type": "text/html; charset=UTF-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://app.besnappy.com/api/v1/note"
      }
    },
    {
      "recorded_at": "2014-09-22T12:46:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "$AUTH_HEADER$",
          "content-type": "application/json; charset=utf-8"
        },
        "method": "GET",
        "uri": "https://app.besnappy.com/api/v1/ticket/mj0kzj4lnh7ho7cp/notes/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":47[...]
