{
  "http_interactions": [
    {
      "recorded_at": "2014-09-22T12:46:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "$AUTH_HEADER$",
          "content-type": "application/json; charset=utf-8"
        },
        "method": "GET",
        "uri": "https://app.besnappy.com/api/v1/account/3249/mailboxes"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":3642,\"account_id\":3249,\"type\":\"email\",\"address\":\"hello@wcldemo.besnappy.com\",\"display\":\"Western Cape Labs (Test)\",\"auto_responding\":null,\"auto_response\":null,\"active\":1,\"created_at\":\"2014-09-16 13:49:36\",\"updated_at\":\"2014-09-16 13:49:36\",\"custom_address\":null,\"theme\":\"snappy\",\"signature\":null,\"language\":\"en\",\"smtp_enabled\":0,\"smtp\":null,\"local_part\":\"hello\"}]"
        },
        "headers": {
          "content-type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://app.besnappy.com/api/v1/account/3249/mailboxes"
      }
    }
  ],
  "recorded_with": "betamax/0.4.0"
}