{
  "http_interactions": [
    {
      "recorded_at": "2014-09-22T11:40:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "$AUTH_HEADER$",
          "content-type": "application/json; charset=utf-8"
        },
        "method": "GET",
        "uri": "https://app.besnappy.com/api/v1/ticket/hkyafaudtk2gsgud/notes/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":471872,\"account_id\":3249,\"ticket_id\":268193,\"facebook_message\":null,\"created_by_staff_id\":null,\"created_by_contact_id\":119399,\"scope\":\"public\",\"created_at\":1411386044,\"updated_at\":\"2014-09-22 11:40:44\",\"content\":\"Are all experiment protocols being followed?\",\"system\":0,\"using_html\":0,\"raw_headers\":null,\"contacts\":[{\"id\":119399,\"account_id\":3249,\"first_name\":\"John\",\"last_name\":\"Smith\",\"value\":\"john.smith@gmail.com\",\"provider\":\"email\",\"created_at\":\"2014-09-18 10:27:27\",\"updated_at\":\"2014-09-18 10:27:27\",\"pivot\":{\"note_id\":471872,\"contact_id\":119399,\"type\":\"from\"},\"address\":\"john.smith@gmail.com\",\"type\":\"from\"}],\"staff_creator\":null,\"contact_creator\":{\"id\":119399,\"account_id\":3249,\"first_name\":\"John\",\"last_name\":\"Smith\",\"value\":\"john.smith@gmail.com\",\"provider\":\"email\",\"created_at\":\"2014-09-18 10:27:27\",\"updated_at\":\"2014-09-18 10:27:27\",\"address\":\"john.smith@gmail.com\"},\"attachments\":[],\"creator\":{\"id\":119399,\"account_id\":3249,\"first_name\":\"John\",\"last_name\":\"Smith\",\"value\":\"john.smith@gmail.com\",\"provider\":\"email\",\"created_at\":\"2014-09-18 10:27:27\",\"updated_at\":\"2014-09-18 10:27:27\",\"address\":\"john.smith@gmail.com\"}}]"
        },
        "headers": {
          "content-type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://app.besnappy.com/api/v1/ticket/hkyafaudtk2gsgud/notes/"
      }
    },
    {
      "recorded_at": "2014-09-22T11:57:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "$AUTH_HEADER$",
          "content-type": "application/json; charset=utf-8"
        },
        "method": "GET",
        "uri": "https://app.besnappy.com/api/v1/ticket/sv4a1akwohjynjj1/notes/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":47[...]
    {
      "recorded_at": "2014-09-22T12:46:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"mailbox_id\": 3642, \"from\": [{\"name\": \"John Smith\", \"address\": \"john.smith@gmail.com\"}], \"message\": \"What are the experiment protocols for subject $SUBJECT_UUID$?\", \"subject\": \"Test subject $SUBJECT_UUID$\"}"
        },
        "headers": {
          "Authorization": "$AUTH_HEADER$",
          "content-type": "application/json; charset=utf-8"
        },
        "method": "POST",
        "uri": "https://app.besnappy.com/api/v1/note"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "u6cisayjz8ewpsgu"
        },
        "headers": {
          "content-type": "text/html; charset=UTF-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://app.besnappy.com/api/v1/note"
      }
    },
    {
      "recorded_at": "2014-09-22T12:46:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "$AUTH_HEADER$",
          "content-type": "application/json; charset=utf-8"
        },
        "method": "GET",
        "uri": "https://app.besnappy.com/api/v1/ticket/u6cisayjz8ewpsgu/notes/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":47[...]
