{
  "http_interactions": [
    {
      "recorded_at": "2014-09-25T11:58:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "$AUTH_HEADER$",
          "content-type": "application/json; charset=utf-8"
        },
        "method": "GET",
        "uri": "https://app.besnappy.com/api/v1/ticket/6z1gbzmavzjsj6w7/notes/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":479670,\"account_id\":3249,\"ticket_id\":271897,\"facebook_message\":null,\"created_by_staff_id\":58,\"created_by_contact_id\":null,\"scope\":\"private\",\"created_at\":1411646332,\"updated_at\":\"2014-09-25 11:58:52\",\"content\":\"<p>Has $SUBJECT_UUID$ accepted the privacy policy?<\\/p>\\n\",\"system\":0,\"using_html\":0,\"raw_headers\":null,\"contacts\":[{\"id\":119399,\"account_id\":3249,\"first_name\":\"John\",\"last_name\":\"Smith\",\"value\":\"john.smith@gmail.com\",\"provider\":\"email\",\"created_at\":\"2014-09-18 10:27:27\",\"updated_at\":\"2014-09-18 10:27:27\",\"pivot\":{\"note_id\":479670,\"contact_id\":119399,\"type\":\"to\"},\"address\":\"john.smith@gmail.com\",\"type\":\"to\"}],\"staff_creator\":{\"id\":58,\"email\":\"mike@westerncapelabs.com\",\"sms_number\":\"0027841234567\",\"first_name\":\"Mike\",\"last_name\":\"Jones\",\"photo\":null,\"culture\":\"en\",\"notify\":1,\"created_at\":\"2012-12-10 14:25:16\",\"updated_at\":\"2014-09-25 06:57:45\",\"signature\":\"\",\"tour_played\":1,\"timezone\":\"Africa\\/Johannesburg\",\"notify_new\":1,\"news_read_at\":\"2014-09-25 06:57:45\",\"apple_device_token\":\"XXXXX\",\"remember_token\":\"XXXXX\",\"mobile_notify\":1,\"mobile_notify_new\":1,\"mobile_viewing_account\":3088,\"verification_token\":\"XXXXX\",\"verified\":true,\"address\":\"mike@westerncapelabs.com\"},\"contact_creator\":null,\"attachments\":[],\"creator\":{\"id\":58,\"email\":\"mike@westerncapelabs.com\",\"sms_number\":\"0027841234567\",\"first_name\":\"Mike\",\"last_name\":\"Jones\",\"photo\":null,\"culture\":\"en\",\"notify\":1,\"created_at\":\"2012-12-10 14:25:16\",\"updated_at\":\"2014-09-25 06:57:45\",\"signature\":\"\",\"tour_played\":1,\"timezone\":\"Africa\\/Johannesburg\",\"notify_new\":1,\"news_read_at\":\"2014-09-25 06:57:45\",\"apple_device_token\":\"XXXXX\",\"remember_token\":\"XXXXX\",\"mobile_notify\":1,\"mobile_notify_new\":1,\"mobile_viewing_account\":3088,\"verification_token\":\"XXXXX\",\"verified\":true,\"address\":\"mike@westerncapelabs.com\"}}]"
        },
        "headers": {
          "content-type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://app.besnappy.com/api/v1/ticket/6z1gbzmavzjsj6w7/notes/"
      }
    },
    {
      "recorded_at": "2014-09-25T12:03:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "$AUTH_HEADER$",
          "content-type": "application/json; charset=utf-8"
        },
        "method": "GET",
        "uri": "https://app.besnappy.com/api/v1/ticket/wfy4xvesfqjzybhg/notes/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":47[...]
    {
      "recorded_at": "2014-09-25T12:03:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "$AUTH_HEADER$",
          "content-type": "application/json; charset=utf-8"
        },
        "method": "GET",
        "uri": "https://app.besnappy.com/api/v1/ticket/zwx9qf2swbdyd3je/notes/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":47[...]
    {
      "recorded_at": "2014-09-25T12:09:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"staff_id\": 58, \"to\": [{\"name\": \"John Smith\", \"address\": \"john.smith@gmail.com\"}], \"scope\": \"private\", \"mailbox_id\": 3642, \"message\": \"Has $SUBJECT_UUID$ accepted the privacy policy?\", \"subject\": \"Private subject $SUBJECT_UUID$\"}"
        },
        "headers": {
          "Authorization": "$AUTH_HEADER$",
          "content-type": "application/json; charset=utf-8"
        },
        "method": "POST",
        "uri": "https://app.besnappy.com/api/v1/note"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "eqo4xvqgxoryoch7"
        },
        "headers": {
          "content-type": "text/html; charset=UTF-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://app.besnappy.com/api/v1/note"
      }
    },
    {
      "recorded_at": "2014-09-25T12:09:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "$AUTH_HEADER$",
          "content-type": "application/json; charset=utf-8"
        },
        "method": "GET",
        "uri": "https://app.besnappy.com/api/v1/ticket/eqo4xvqgxoryoch7/notes/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":47[...]
