{
  "http_interactions": [
    {
      "recorded_at": "2014-09-19T14:24:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "$AUTH_HEADER$",
          "content-type": "application/json; charset=utf-8"
        },
        "method": "GET",
        "uri": "https://app.besnappy.com/api/v1/accounts"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":3249,\"organization\":\"Western Cape Labs (Test)\",\"domain\":\"wcldemo.besnappy.com\",\"plan_id\":3,\"active\":1,\"created_at\":\"2014-09-16 13:49:36\",\"updated_at\":\"2014-09-16 14:19:37\",\"custom_domain\":null,\"trial_ends_at\":\"2014-09-30 13:49:36\",\"cancel_message\":null,\"forward_shown\":1,\"badge_url\":\"\",\"last_paid_at\":null,\"invoiced\":null,\"cancelled_at\":null,\"pivot\":{\"staff_id\":3696,\"account_id\":3249,\"username\":\"jeremy\",\"owner\":0,\"admin\":0,\"last_wall_visit\":\"2014-09-18 10:41:15\",\"default_lens\":null,\"notify\":1,\"notify_new\":1,\"mobile_notify\":1,\"mobile_notify_new\":1},\"is_paid\":true,\"is_trial\":true}]"
        },
        "headers": {
          "content-type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://app.besnappy.com/api/v1/accounts"
      }
    }
  ],
  "recorded_with": "betamax/0.4.0"
}